@import "./variables";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin borderBox {
  .border__left {
    background-color: $light-secondary;
    width: 4px;
    height: 25px;
    left: -1px;
    top: 3px;
    border-radius: 5px;
    position: absolute;
  }
}
