/*
Color variables
..........................................................*/
$black-color: #000000;
$white-color: #fffdff;
$primary-color: #251f2b;
$secondary-color: #7a33ef;
$background-color: #1e1926;
$light-secondary: #4b6fe2;
$link-color: #3271a6;
$link-base-color: #141622;
$border-gray: #a499b3;
$active-color: #3e72f4;
$menu-icon-color: #455cb4;
/*........................................................*/
